/* Resetar os valores de espaçamento de novegador */

*{
    margin: 0;
    padding: 0;
}

h4{
   font-size: 32px;
   color: #ffffff;
   background-color: rgb(80, 70, 70);
   border: red 2px solid;
   font-family: sans-serif;
   text-align: center;
   border-radius: 5px;
   padding: 5px;
}

/* Estilizando a nav da classe menu */

.menu{
  /* background-size: cover;
  display: block; */
  background-color: #2b1010;
  width: 100;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu ul{
  list-style: none;
  position: relative;
}

.menu ul li{
  width: 200px;
  float: left;
}
/* <a> de âncora */
.menu a{
   padding: 20px;
   display: block;
   text-decoration: none;
   text-align: center;
   background-color: #2b1010;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 24px;
}

.menu ul ul{
    position: absolute;
    /* esconde o conteúdo */
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #862175;
    color: yellowgreen;
}

.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}